<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <%= devise_error_messages! %>

      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <p>ニックネーム</p>
        <%# <input name="name" value="<%= @user.name %>"> %>
        <input>
        <p>メールアドレス</p>
        <%# <input name="email" value="<%= @user.email %>"> %>
        <p>パスワード</p>
        <%# <input type="password" name="password" value="<%= @user.password %>"> %>
        <p>パスワード確認</p>
        <%# <input type="password_confirmation" name="password_confirmation" value="<%= @user.password_confirmation %>"> %>
        <input type="submit" value="新規登録">
      </div>
      <% end %>
    </div>
  </div>
</div>