<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="posts-img">
         <%= image_tag @post.image, class: "post-img" %>
         <%= link_to @post.user.nickname, user_path(current_user) %>
      </div>
      <div class="posts-item">
        <%= @post.item %>
      </div>
      <div class="posts-content">
        <%= @post.content %>
      </div>
    <div class="post-time">
      <%= @post.created_at %>
    </div>
        <% if user_signed_in? %>
    <% if current_user == @post.user %>
      <%= link_to "編集", edit_post_path(@post.id) %>
      <%= link_to "削除", post_path(@post.id), method: :delete %>
    <% end %>
    <% end %>
    </div>
  </div>
</div>

