<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
    <div class="post-user-name">
    <%= link_to @post.user.nickname, user_path(@post.id) %>さんの投稿
    </div>
      <div class="posts-img">
         <%= image_tag @post.image, class: "post-img" %>
      </div>
      <div class="posts-item-name">
        <%= @post.item %>
      </div>
      <div class="posts-content">
        <%= @post.content %>
      </div>
    <div class="post-time">
      <%= @post.created_at %>
    </div>

    <!--いいね機能 -->
    <% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
      <%= link_to "いいね！", post_like_path(@post.id), method: :delete %>
      <span class="fa fa-heart like-btn-unlike"></span>
    <% else %>
      <%= link_to "いいね！", post_likes_path(@post.id), method: :post %>
      <span class="fa fa-heart like-btn"></span>
    <% end %>
    <%= @likes_count %> 
    <!--/いいね機能 -->
    <% if user_signed_in? %>
    <% if current_user == @post.user %>
      <%= link_to "編集", edit_post_path(@post.id) %>
      <%= link_to "削除", post_path(@post.id), method: :delete %>
    <% end %>
    <% end %>

    <!--コメント機能 -->
    <div class="comments-show">
      <h4>コメント</h4>
      <div id="comments_area">
      <% comments.each do |comment| %>
        <% unless comment.id.nil? %>
          <p><%= link_to "#{comment.user.nickname}さん", user_path(comment.user.id) %></p>
          <p>コメント：<%= comment.comment_content %></p>
          <% if comment.user == current_user %>
            <p><%= link_to 'コメントを削除する', post_comment_path(comment.post_id, comment.id), method: :delete, remote: true %></p>
          <% end %>
        <% end %>
      <% end %>

      <% if user_signed_in? %>
      <%= form_with(model: [post, comment] ) do |form| %>
         <div>
         <%= form.text_area :comment_content %>
         </div>
         <div class="actions">
         <%= form.submit "コメントをする" %>
         </div>
      <% end %>
      <% end %>
      </div>
    </div>
    <!--/コメント機能 -->
    </div>
  </div>
</div>

